extends layout

block content
  div.navbar-static-top
    h5 Placeholder for nav bar!
  div.row-fluid.span12
    div.signup-container
      div.signupblock.span5
        h1 Welcome to Meliorate!
        h4 Helping you be a better you.
      div.signup-block.span5
        div.signup-info-wrapper
          form(method="post")
            h3 Sign up for Meliorate!
            input(type="text", placeholder="First Name", name="firstname", value="Test")
            br
            input(type="text", placeholder="Last Name", name="lastname", value="User")
            br
            input(type="text", placeholder="Email", name="email", value="tu@gmail.com", autofocus="autofocus")
            br
            input(type="password", placeholder="Password", name="password", value="foobar")
            br
            input.btn(type="submit", value="Sign Up!")
          h6 Already have an account? 
            a('href=/login') Log in!

