div.login-block-wrapper.span5
  div.login-block
    h3 Log in!
      input(type="text", placeholder="Email", name="email-login")
      br
      input(type="password", placeholder="Password", name="password-login")
      br
      input.btn(type="submit", value="Login!")