extends layout

block content
  div.spacing-wrapper
    div.instruction-text.fade-in.one
      p Great, now let's break down your first goal:
      br
      p #{fmg_goal.description}
    div.example-text.fade-in.two
      p What goals do you have for each week this month to achieve this goal?
    form.fade-in.three(method="post")
      - for (i=1; i<5; i++) {
          div.example-text.text-left
            p Enter your weekly goal for week #{i}
          input.goal(type="text", name='week#{i}')
      - }
      br
      div.button-center
        input.btn.btn-large(type="submit", value="Enter")
      br
      br

