extends layout

block content
  p Almost done! Let's break down your first weekly goal into daily goals!
  p #{fwg_goal.description}
  form(method="post")
    - for (i=1; i<8; i++) {
        p Enter your goal for day #{i}!
        input(type="text", name='dailygoal#{i}', value='D-Goal #{i}')
    - }
    br
    input.btn(type="submit", value="Enter")