extends layout

block content
  div.spacing-wrapper
    div.instruction-text.fade-in.one
      p First, let's start things off by defining an overall goal.
    div.example-text.fade-in.two
      p For example: "I want to start my own company."
    div.form-wrapper.fade-in.three
      form(method="post")
        input.goal(type="text", name="overall_goal_description")
        br
        input.right.btn.btn-large(type="submit", value="Create Goal!")