html {
  background-image: url('/images/bg.png');
}

.font-color {
  color: #ccc;
}

.signup-container {
  width: 1040px;
  margin: 0px auto;
}

.login-link {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
}

.welcome-message {
  text-align: center;
  background-image: url('/images/bg.png');
  height: 520px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #999;
}

.signup-block {
  background-image: url('/images/bg.png');
  min-height: 300px;
  height: 500px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #999;
  opacity: 1;
}

.signup-block-wrapper {
}

.signup-info-wrapper {
  margin: 3.438em auto;
  width: 220px;
  opacity: 1;
}

.spacing {
  padding-bottom: 6em;
}

.spacing-wrapper {
  width: 800px;
  min-height: 500px;
  margin: 7em auto;
}

.hi-user {
  text-align: center;
  font-size: 5em;
  height: 50%;
  font-weight: 400;
  margin-bottom: 1em;
}

.first-timer {
  height: 50%;
  font-size: 2em;
  font-weight:200;
}

.new-og {
  margin-top: 30px;
  text-align: right;
}

.instruction-text {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 1em;
}

.example-text {
  text-align: center;
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom: 2em;
}

input[type=text].goal {
  width: 98%;
  font-size: 1.5em;
  font-weight: 200;
  height: 30px;
  margin-bottom: 1em;
}

input[type=submit].btn-right.btn {
  float:right;
}

input[type=submit].btn.btn-large.right {
  float: right;
}

.button-center {
  width: 83px;
  margin: 16px auto;
}

form.select-months {
  width: 220px;
  margin: 0px auto;
}

.text-left {
  text-align: left;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.inline {
  display:inline-block;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.0s;
-moz-animation-delay:1.0s;
animation-delay: 1.0s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}