.signup-container {
  width: 82.97872340425532%;
  margin: 0px auto;
}

.signup-block {
  min-height: 300px;
  height: 500px;
  padding: 15px;
}

.signup-info-wrapper {
  margin: 0px auto;
  width: 50%;
}